// Burgermenu color
.menuButton-bar--color, .menuButton-bar--color:before, .menuButton-bar--color:after{
    background-color: var(--white);
}

// Burgermenu active color
.menuButton-bar--color-open, .menuButton-bar--color-open:before, .menuButton-bar--color-open:after {
    background-color: var(--highlight); 
}

.menuButton-bar-active--color, .menuButton-bar-active--color:before, .menuButton-bar-active--color:after{
  background-color: var(--highlight);
}

// Burgermenu style
.menuButton-container {
    width: var(--burgermenu-width);
    height: 20px;
    display: flex;
  }
  
  .menuButton {
    width: var(--burgermenu-width);
    height: 100%;
    padding: 0px;
    background-color: transparent;
    border: 0px solid;
    outline: none;
    transition: 0.3s;
  }
  
  .menuButton-bar {
    display: block;
    background-color:var(--white);
    height: 2px;
    width: 100%;
    transform: rotate(0deg);
    transition: 0.3s;
    opacity: 1;
    outline: none;
    
    &-top {
      transform-origin: right;
      transform: scaleX(0.5);
    }

    &-mid {
      margin-top: 7px;
      transform-origin: right;
    }

    
    &-bottom {
      margin-top: 7px;
      transform-origin: left;
      transform: scaleX(0.5);
    }
  }

  .menuButton:hover .menuButton-bar-top{
    transform: scaleX(1);
    transition: var(--default-transition);
  }

  .menuButton:hover .menuButton-bar-mid{
    transform: scaleX(0.75);
    transform-origin: right;
    transition: var(--default-transition);
  }

  .menuButton:hover .menuButton-bar-bottom{
    transform: scaleX(1);
    transition: var(--default-transition);
  }

  .menuButton-hidden{
    visibility: hidden;
  }


 