:root{
    --color-none: transparent;
    /* --gray: #111119; */
    --gray: #1c1c1d;
    --lightgray2: #2f2f46;
    --lightgray: #a2a2ec22;
    --white: #fefefe;
    --bg-alpha: #00000044;
    --bg-titlebar: #0b0b10;
    --smooth-red: #ad3156;
    --highlight: #28b28d;

    --font-color: var(--white);
    
    /* button colors */
    --button-hover: var(--white);
    --button-hover-text: var(--gray);
}