:root{
    --color-none: transparent;
    /* --gray: #111119; */
    --gray: #1c1c1d;
    --lightgray: #525259;
    --white: #fefefe;
    --bg-alpha: #00000044;
    --bg-titlebar: #0b0b10;
    --smooth-red: #ad3156;
    --highlight: #28b28d;

    --blackTransparent: #12121299;
    --lightgray_2: #aeaeae;
}