:root{
    --default-border-radius: 0px;
    --default-transition: 0.3s;
    --slow-transition: 0.8s;
    --animation: cubic-bezier(0.47, 0, 0, 1.01);
    
    /* Burgermenu width */
    --burgermenu-width: 20px;
}