
.test{
        background-color: #ff00aa22;
        outline: 1px dashed #ff0000;
        min-width: 10px;
        min-height:10px;
}

#test{
        background-color: #ff00aa22;
        outline: 1px dashed #ff0000;
        min-width: 10px;
        min-height:10px;
}