:root{
    /* page main theme variables */

    --font-color: var(--lightgray_2);
    --title-color: var(--lightgray);

    /* button colors */
    --button-text: var(--white);
    --button-hover: var(--white);
    --button-hover-text: var(--gray);
}

h1 {
    display: none;
}

h1,h2,h3,h4 {
    font-family: Josefin Sans;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 40px;
}

p {
    color: var(--font-color);
    font-family: roboto;
    font-size: 18px;
    word-break: break-word;
}

.button-green{
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 14px;
    padding-top: 2px;

}