@import './print/print.scss';

:root{
    /* page main theme variables */

    --font-color: var(--lightgray_2);
    --title-color: var(--lightgray);

    /* button colors */
    --button-text: var(--white);
    --button-hover: var(--white);
    --button-hover-text: var(--gray);
}

h1 {
    display: none;
}

h1,h2,h3,h4 {
    font-family: Josefin Sans;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 76px;
    letter-spacing: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding: var(--space25) 0;
}

p {
    color: var(--font-color);
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    word-break: break-word;
}

.button-green{
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 14px;
    padding-top: 2px;

}