:root{
    /* page main theme variables */

    --font-color: var(--white);

    /* button colors */
    --button-text: var(--white);
    --button-hover: var(--white);
    --button-hover-text: var(--gray);
}